doctype html
html
    head
        title tourney
    body
        h1 #{tourney} turneringsanmälning

        form(method="post", action="/#{tourney}")
            | Din bögiga nick:
            input(type="text", name="nick")
            input(type="submit", value="Anmäl dig")

        h2 Anmälda:

        ul
            for entry in entries
                li= entry
